@ECHO OFF
REM ****************************************************************
REM * This file is an example file.                                *
REM * You need to copy this file (remove ".example" from the name) *
REM * and adjust the paths to your local file structure.           *
REM * If you have a pathname with a "%" in it, replace it by "%%"! *
REM ****************************************************************

REM *********************************************
REM * Set paths to your cloned OPT repositories *
REM *********************************************
SET "OptClientRepoDir=n:\OPT-Repos\OPT-Client-Mod\"
SET "OptServerRepoDir=n:\OPT-Repos\OPT-Server-Mod\"
SET "OptMissionRepoDir=n:\OPT-Repos\OPT-Mission\"

REM ************************************************
REM * Set active mission in OPT-Mission repository *
REM ************************************************
SET "OptMissionName=OPT-TestMission.Altis"

REM *************************************************************************
REM * Set path to a directory where you securely store your OPT private key *
REM *************************************************************************
SET "OptKeysDir=n:\OPT-Repos\OPT-Keys\"

REM ******************
REM * Set ArmA paths *
REM ******************
SET "ArmaGameDir=C:\Program Files (x86)\Steam\steamapps\common\Arma 3\"
SET "ArmaMissionPboDir=C:\Program Files (x86)\Steam\steamapps\common\Arma 3\MPMissions\"
SET "ArmaMissionSourceDir=c:\Users\xxx\Documents\Arma 3\mpmissions\"

REM ************************
REM * Set ArmA executables *
REM ************************
SET "ArmaServerExe=arma3server_x64.exe"
SET "ArmaClientExe=arma3_x64.exe"

REM *********************************************************************************
REM * @CLib and @OPT* mods will be loaded from your build-directories.              *
REM * If you need more mods, add them here.                                         *
REM * Be sure to use absolute paths if they are not directly in the ArmA-directory. *
REM *********************************************************************************
SET "additionalMods=m:\OPT-Modset\@CBA_A3;m:\OPT-Modset\@ace;m:\OPT-Modset\@ace_particles;m:\OPT-Modset\@tfar;m:\OPT-Modset\@diwako_dui"

REM *********************************************************************
REM * If you want to read the script output after finish, set TRUE here *
REM *********************************************************************
SET WaitAtFinish=TRUE

REM ***************************************************************************************************
REM * If you want the ArmAServer to load the dev- instead of release-build of CLib/OPT, set TRUE here *
REM ***************************************************************************************************
SET LoadClibDev=FALSE
SET LoadOptDev=FALSE

REM ******************************
REM *** DO NOT EDIT BELOW THIS ***
REM ******************************

REM Checking if you missed something...
CALL :CHECK "%%OptClientRepoDir%%"
CALL :CHECK "%%OptServerRepoDir%%"
CALL :CHECK "%%OptMissionRepoDir%%\%%OptMissionName%%"
CALL :CHECK "%%OptKeysDir%%"
CALL :CHECK "%%ArmaGameDir%%\%ArmaServerExe%%"
CALL :CHECK "%%ArmaGameDir%%\%ArmaClientExe%%"
CALL :CHECK "%%ArmaMissionPboDir%%"
CALL :CHECK "%%ArmaMissionSourceDir%%"
EXIT /B 0

:CHECK
IF NOT EXIST %1 (
	ECHO %1 not found. Check your configuration.
	ECHO Press any key to exit.
	PAUSE > NUL
	EXIT 1
)
